<div class="row row-center">
    <ion-content>
    <div class="list">

      <a href="#" class="item item-icon-left">
        <i class="icon ion-person"></i>
        {{user.name}}, {{user.headline}}
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-briefcase"></i>
        {{user.company}}
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-compose"></i>
        {{user.education}}
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-chatbubble"></i>
        {{user.language}}
      </a>

    </div>
    <div class="item item-image">
        <img src="{{user.pictureUrl}}">
      </div>
    </ion-content>
</div>
